<!doctype html>
<html lang="en">
<link rel="shortcut icon" href="http://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2015-01-06/26c81d4833e7e3f676a66939ed450f65.ico">

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel='stylesheet' type='text/css' href='css/product.css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>stockr</title>


    <nav>
      <a href='/'><img id='logo' src='images/LOGO1.png'></a>
      <ul class='nav-list'>
          <li><a id=Home href='/list_suppliers'>Suppliers</a></li>
          <li><a href='/add_supplier'>Add Suppliers</a></li>
          <li><a href='/new_order'>New Order</a></li>
          <li><a href='/list_orders'>Previous Order</a></li>
      </ul>
      
  </nav> 

      <!-- Main component for a primary marketing message or call to action -->

    

  </head>
  <body>
