<%- include('header') -%>
        <section>
        <header>
            <!-- <div id="top">
            <div id="logo-image"><img id="wallpaper" src='images/Wallpaper.png'></div>
            <aside>
                <p class='slide-left'>An online platform to store all your products details and business informations at one place.
                We believe in facilitating our users and making their work easier. 
                </p>
                 <a href="login.html"><button id='btn'>Login</button></a>
                <a href="signup.html"><button id='btn'>Sign Up</button></a>
            </aside>
          </div> -->
          <div class = "container">
            <div class="row first-part">
                <div class = "col-sm-6 left-part">
                  <img id="wallpaper" src='images/Wallpaper.png'>
                </div>
                <div class = "col-sm-6 right-part">
                  An online platform to store all your products details and business informations at one place.
                  We believe in facilitating our users and making their work easier.  
                </div>
            </div>
        </div>
        </header>
    </section>
        <section id='about' class='Heading'>
            <div id="about-us"><u>About Us</u></div>
            <p>
                Product Manager is a website to help the businessman</br>
                store all theredata at one place in an organised manner.</br>
                Our main motive is to provide a platform for easier </br>
                management of goods and services provided by various</br>
                stores for their betterment.Sometimes it becomes difficult</br>
                to manage the products because of large quantitiy of goods.</br>
                Our website will help the users to keep the record of their</br>
                products.....   
            </p>
        </section>
        <section id='contact'>
            <img src='images/contact me3.png'>
            <div id='contactus'>
                <div>
                    <span><i class="far fa-address-card"></i></span>
                    Contact Us
                </div>
                <div class="address">
                    <div class="location">
                        <span><i class="fas fa-map-marker-alt"></i></span>
                        <span>Lucknow,India</span>
                    </div>
                    <div class="contactno">
                        <span><i class="fas fa-mobile-alt"></i></span>
                        <span>99999999999</span>
                    </div>
                    <div class="mail">
                        <span><i class="far fa-envelope"></i></span>
                        <span>abcd@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="social">
                <ul class="social-icons">
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-stack-overflow"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-quora"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div id='back'>
                <a href='#Home'>Back to top</a>
            </div>
        </section>

        <script type='text/javascript' src='product.js'></script>
     </body>
